<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Selamat Datang di backend Sarah</h1>
        <p>Route yang Anda bisa akses adalah</p>
        <ul>
            <li>POST ke /todos</li>
            <li>GET ke /todos</li>
            <li>GET ke /movies</li>
            <li>GET ke /movies/:title</li>
        </ul>
    </body>
</html>
